doctype html
html
  head
    meta(content='text/html; charset=UTF-8', http-equiv='Content-Type')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(rel='stylesheet', type='text/css', href='css/animate.css')
    link(rel='stylesheet', type='text/css', href='css/img.css')
  body(bgcolor='#DCDCDC')
    #SMK
      a(href='index.html')
        img(src='CMK.jpg', width='100%', height='100%')
    #adress
      h1
        | Компетентное разъяснение требований | передача знаний | издание простых документов
    .left_column
      #elem_column.transition
        a(href='about.html')
          h3 Об организации
      #elem_column.transition
        a(href='contacts.html')
          h3 Контакты
      #elem_column.transition
        h3 Заявка на услугу
    nav.menu
      #com
        .item
          a(href='cur_sem.html', text='Текущий семинар')
            img.animated.transition.src(data-effect='pulse', src='img/e1.png')
        .item
          a(href='menejment.html', text='Поддержание системы менеджмента в организации')
            img.animated.transition.src(data-effect='pulse', src='img/e2.png')
        .item
          a(href='news.html', text='Новости')
            img.animated.transition.src(data-effect='pulse', src='img/e3.png')
        .item
          a(href='quality.html', text='Менеджмент качества')
            img.animated.transition.src(data-effect='pulse', src='img/e4.png')
        .item
          a(href='ecology.html', text='Менеджмент экологии')
            img.animated.transition.src(data-effect='pulse', src='img/e5.png')
        .item
          a(href='depending.html', text='Менеджмент охраны труда')
            img.animated.transition.src(data-effect='pulse', src='img/e6.png')
        .item
          a(href='sertification.html', text='Менеджмент органа по сертификации')
            img.animated.transition.src(data-effect='pulse', src='img/e7.png')
        .item
          a(href='projects.html', text='Специальные услуги')
            img.animated.transition.src(data-effect='pulse', src='img/e8.png')
        .item
          a(href='teaching.html', text='Обучение')
            img.animated.transition.src(data-effect='pulse', src='img/e9.png')
    script(src='http://code.jquery.com/jquery-latest.min.js')
    script(src='js/img.js')
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
